<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lq.ssm.student.dao.GradeDao">
	<resultMap type="studentGrade" id="studentGrade_map">
		<id property="id" column="write_grade_id"/>
		<result property="subject" column="write_gradesubject"/>
		<result property="grade" column="write_grade"/>
		<result property="time" column="write_grade_time"/>
		<result property="desc" column="write_grade_desc"/>
		<association property="student" column="student_id" resultMap="student_map"></association>
		<association property="staff" column="staff_id" resultMap="staff_map"></association>
	</resultMap>
	<resultMap type="student" id="student_map">
		<id property="id" column="student_id"/>
		<result property="name" column="student_name"/>
	</resultMap>
	<resultMap type="staff" id="staff_map">
		<id property="sid" column="staff_id"/>
		<result property="name" column="staff_name"/>
	</resultMap>
	
	<!-- 查询全部 -->
	<select id="findAll" resultMap="studentGrade_map">
		select * from student_write_grade t 
		left join student_info s on t.student_id=s.student_id
		left join staff_info i on t.staff_id=i.staff_id 
	</select>
	
	<!-- 添加 -->
	<insert id="save" parameterType="studentGrade">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			select grade_seq.nextval from dual
		</selectKey>
		insert into student_write_grade
        (write_grade_id, student_id, staff_id, write_gradesubject, write_grade, write_grade_time, write_grade_desc)
        values
        (#{id}, #{student.id}, #{staff.sid}, #{subject}, #{grade}, #{time}, #{desc})
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="studentGrade">
		update student_write_grade
	   		   set write_grade_id = #{id},
	      	   student_id = #{student.id},
		       staff_id = #{staff.sid},
		       write_gradesubject = #{subject},
		       write_grade = #{grade},
		       write_grade_time = #{time},
		       write_grade_desc = #{desc}
		 where write_grade_id = #{id}
	</update>
	
	<!-- 通过id查询 -->
	<select id="findById" resultMap="studentGrade_map">
		select * from student_write_grade t 
		left join student_info s on t.student_id=s.student_id
		left join staff_info i on t.staff_id=i.staff_id where  
		write_grade_id=#{id}
	</select>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="studentGrade">
		delete from student_write_grade
  		where write_grade_id = #{id}
	</delete>
	
	<!-- 模糊查询 -->
	<select id="findByName" resultMap="studentGrade_map">
		select * from student_write_grade t 
	    left join student_info s on t.student_id=s.student_id
	    left join staff_info i on t.staff_id=i.staff_id where
	    s.student_name like '%${name}%'  
			
	</select>
	
	
	
	
	
	
	
	
	
	
	
</mapper>